body{
  background-image: url("../imgs/password.jpeg");
}
.header{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px; 
  border-radius: 0 0 30px 30px;
  background-color: #fff;
  min-height: fit-content;
  .logo{
    img{
      max-width: 100px;
    }
  }
  h1{
    text-align: center;
    margin: auto;
    color: #777;
    font-weight: 100;
  }
  .lang{
    border: 3px solid #333;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  @media (max-width:500px) {
      display: grid;
      justify-content: center;
      .logo{
        margin: auto;
      }
      h1{
        padding: 10px 0;
      }
      .lang{
        width: fit-content;
        margin: auto;
      }
  }
}
.headTitle{
  text-align: center;
  color: #fff;
  font-weight: 100;
  margin: 30px;
}
.boxes{
  @media (min-width:600px) {
    width: 50%;
  }
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 20px;
  direction: rtl;
  .box{
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 150px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    &:hover{
      color: #333;
      background-color: #fff;
    }
  }
}